# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

Finding the right datasets can be time-consuming. Here we provide you with a list of websites to start with. But we encourage you to explore more websites and find the data that interests you.

* Google Dataset Search https://datasetsearch.research.google.com/
* The U.S. Government’s open data https://data.gov/
* UCI Machine Learning Repository https://archive.ics.uci.edu/ml/index.php

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

#### **Dataset 1**

Type: *FILL IN* (e.g., CSV File.)

Method: *FILL IN* (e.g., The data was gathered using the "Downloading files" method from X source.)

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [ ]:
# NYPD Complaint Data Historic: https://data.cityofnewyork.us/resource/qgea-i56i.json

# New York City Population By Neighborhood Tabulation Areas : https://data.cityofnewyork.us/resource/swpk-hqdp.json

In [9]:
#FILL IN 1st data gathering and loading method
# Programmatic Download of NYPD Complaint Data Historic


# API URL for NYPD Complaint Data Historical
url = "https://data.cityofnewyork.us/resource/qgea-i56i.json"  # Check this URL for accuracy

# Create an HTTP GET request for NYPD Complaint data
try:
    response = requests.get(url)
    # Raise an exception if we made a request resulting in an error
    response.raise_for_status()

    # Load the json data into dataframe
    nyc_crime = pd.json_normalize(response.json())

except Exception as e:
    print("An error occurred:", e)

#### Dataset 2

Type: *FILL IN* (e.g., CSV File.)

Method: *FILL IN* (e.g., The data was gathered using the "API" method from Y source.)

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [8]:
#FILL IN 2nd data gathering and loading method
# Manual download New York City Population By Neighborhood Tabulation Areas

nyc_population = pd.read_csv("/workspaces/DataWrangling/Projects/New_York_City_Population_By_Neighborhood_Tabulation_Areas_20241003.csv")

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [ ]:
#Optional: store the raw data in your local data store

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

In [10]:
#FILL IN - Inspecting the dataframe visually
nyc_crime.head()

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,...,vic_race,vic_sex,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,lat_lon.latitude,lat_lon.longitude,transit_district
0,279733718,2023-12-31T00:00:00.000,00:56:00,2023-12-31T00:00:00.000,01:02:00,26,2023-12-31T00:00:00.000,126,MISCELLANEOUS PENAL LAW,724,...,UNKNOWN,E,12424,37,4,36,17,40.81759908852083,-73.95318501220713,NaN
1,279750941,2023-12-30T00:00:00.000,09:21:00,2023-12-30T00:00:00.000,09:48:00,109,2023-12-31T00:00:00.000,109,GRAND LARCENY,433,...,UNKNOWN,D,14191,22,3,20,67,40.781659,-73.832201,NaN
2,279733716,2023-12-30T00:00:00.000,21:15:00,2023-12-30T00:00:00.000,21:44:00,18,2023-12-31T00:00:00.000,109,GRAND LARCENY,415,...,ASIAN / PACIFIC ISLANDER,F,13094,11,4,51,10,40.759243,-73.982757,NaN
3,279762986,2023-12-31T00:00:00.000,13:00:00,2023-12-31T00:00:00.000,14:00:00,81,2023-12-31T00:00:00.000,578,HARRASSMENT 2,638,...,UNKNOWN,F,18181,69,2,17,52,40.688694,-73.922507,NaN
4,279762857,2023-12-31T00:00:00.000,21:20:00,2023-12-31T00:00:00.000,21:30:00,18,2023-12-31T00:00:00.000,109,GRAND LARCENY,415,...,ASIAN / PACIFIC ISLANDER,F,12081,11,4,10,10,40.765753,-73.982678,NaN

In [11]:
nyc_population.head()

,Borough,Year,FIPS County Code,NTA Code,NTA Name,Population
0,Bronx,2000,5,BX01,Claremont-Bathgate,28149
1,Bronx,2000,5,BX03,Eastchester-Edenwald-Baychester,35422
2,Bronx,2000,5,BX05,Bedford Park-Fordham North,55329
3,Bronx,2000,5,BX06,Belmont,25967
4,Bronx,2000,5,BX07,Bronxdale,34309

In [12]:
#FILL IN - Inspecting the dataframe programmatically
nyc_crime.columns

Index(['cmplnt_num', 'cmplnt_fr_dt', 'cmplnt_fr_tm', 'cmplnt_to_dt',
       'cmplnt_to_tm', 'addr_pct_cd', 'rpt_dt', 'ky_cd', 'ofns_desc', 'pd_cd',
       'pd_desc', 'crm_atpt_cptd_cd', 'law_cat_cd', 'boro_nm',
       'loc_of_occur_desc', 'prem_typ_desc', 'juris_desc', 'jurisdiction_code',
       'parks_nm', 'hadevelopt', 'housing_psa', 'x_coord_cd', 'y_coord_cd',
       'susp_age_group', 'susp_race', 'susp_sex', 'latitude', 'longitude',
       'patrol_boro', 'station_name', 'vic_age_group', 'vic_race', 'vic_sex',
       ':@computed_region_efsh_h5xi', ':@computed_region_f5dn_yrer',
       ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q',
       ':@computed_region_sbqj_enih', 'lat_lon.latitude', 'lat_lon.longitude',
       'transit_district'],
      dtype='object')

In [13]:
nyc_population.columns

Index(['Borough', 'Year', 'FIPS County Code', 'NTA Code', 'NTA Name',
       'Population'],
      dtype='object')

Issue and justification: *FILL IN*

### Quality Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [ ]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: FILL IN**

In [ ]:
# FILL IN - Apply the cleaning strategy

In [ ]:
# FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 1: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 2: FILL IN**

In [1]:
#FILL IN - Apply the cleaning strategy

In [2]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [ ]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN